.cardpage {
  width: 70%;
}
.paperBackground {
  background-image: url(https://img.freepik.com/fotos-premium/fondo-papel-blanco-arte_35956-2379.jpg);
}
.transparentBackground {
  background-color: transparent;
}
.borderNone {
  border: none;
}
.todotitle {
  font-size: 4vmax;
  color: rgba(255, 160, 122, 0.597);
}
.borderinput:focus {
  outline: 0px;
}
.buttonHover {
  color: rgba(125, 125, 127, 0.264);
  transition: color 0.5s;
}
.buttonHover:hover {
  color: red;
}
